* {
  margin: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0f0f0f;
  color: white;
}

li {
  width: 150px;
  border-radius: 5px;
}

li:hover {
  background-color: #545353;
}

a {
  text-decoration: none;
  color: white;
}

.categories {
  padding: 5px;
  height: 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.categories:hover {
  border-bottom: 2px solid white;
}

.categories a{
  color: #a8a8a8;
}

.categories a:hover{
  color: white
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px 10px 15px;
  position: sticky;
  top: 0;
  background-color: #0f0f0f;
  z-index: 10;
}

.left_header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.5px;
}

.center_header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.right_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.left_nav_list {
  list-style: none;
  margin-left: -35px;
}

.nav_list_icon {
  margin-left: 10px;
  padding: 5px;
  margin-bottom: 10px;
}

.nav_list_item {
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}

.nav_list_divider {
  border-top: 0.25px solid rgba(255, 255, 255, 0.135);
  width: 150px;
  margin-left: 25px;
  height: 1px;
  margin-bottom: 15px;
}

.main_line_divider {
  border-top: 0.25px solid rgba(255, 255, 255, 0.135);
  height: 1px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.section_heading_part_content {
  font-size: 18px;
  font-size: 700;
  margin-right: 12.5px;
}

.section_heading_part_btn {
  padding: 5px;
  border-radius: 5%;
  padding: 5px;
  display: inline;
}

.section_heading_part_btn:hover {
  background-color: #ffffff4f;
}

.all-cards {
  display: flex;
  gap: 10px;
  margin-top: px;
}

.card {
  height: 250px;
  width: 225px;
  padding: 5px 2.5px 0px 2.5px;
}

.carousel_next_icon_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel_next_icon {
  background-color: #a8a8a8;
  border-radius: 50%;
  margin-left: -25px;
  box-shadow: 1px 1px 10px black;
  height: 30px;
  width: 30px;
}

.ind_short_card_div {
  width: 200px;
  height: 400px;
  padding-top: 10px;
}

.ind_short_card_img {
  border-radius: 5%;
  margin-bottom: 5px;
  height: 325px;
  width: 200px;
}

.ind_short_card_title {
  font-size: 13px;
  margin-bottom: 2.5px;
}

.ind_channel_card_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7.5px;
}

.ind_channel_card_img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.ind_channel_card_btn {
  font-size: 10px;
  background-color: #363636;
  width: 50px;
  height: 10px;
  padding: 5px 10px 10px 10px;
  border-radius: 26px;
  text-align: center;
  margin-top: 5px;
}

.lpo_btn{
  border-radius: 5px;
  background-color: #272727;
  font-size: 12px;
  padding: 7.5px 10px 7.5px 10px;
  margin-right: 5px;
}

.lpo_btn:hover{
  background-color: #545353;
}

.playlist_thumbnail{
  height: 150px;
  width: 175px;
  padding: 5px 2.5px 0px 2.5px;
  transition: 0.3s ease-in-out;
}

.playlist_thumbnail_img:hover{
  opacity: 0.2;
}

.ind_post{
  display: grid;
  grid-template-columns: 1fr .5fr 8fr .5fr 1fr;
  border: 1px solid rgba(198, 198, 198, 0.411);
  width: 500px;
  height: 420px;
  border-radius: 10px;
  padding: 25px 10px 10px 10px;
  background-color: #0F0F0F;
}

.post_poll{
  width: 300px;
  border: 1px solid rgba(198, 198, 198, 0.838);
  margin-bottom: 10px;
  padding: 10px;
  font-size: 13px;
}